.App {
  text-align: center;
  background-color: #dad7cd;
  min-height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: #3d405b;
}

.App h1 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  font-size: 20;
}

.App ul {
  width: 300px;
  padding: 10px 0;
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 1px solid #1b4f72;
}
.App ul:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App li {
  list-style: none;
  color: #1b4f72;
  display: block;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

.App li span {
  font-weight: 700;
}

.App form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 5px;
  padding: 4px 4px;
  border: none;
}

.App button {
  border: none;
  margin-top: 1rem;
  padding: 10px 40px;
  background-color: #3d405b;
  color: #dad7cd;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3 s;
}
.App button:hover {
  scale: 1.05;
}
@media (max-width: 500px) {
  .App {
    max-width: 300px;
  }
  .App ul {
    width: 220px;
  }
  .App li {
    width: 200px;
  }
}
